Source: ecscope
Section: unknown
Priority: optional
Maintainer: Marian Minar <mminar7@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/mamin27/eCscope
#Vcs-Browser: https://salsa.debian.org/debian/ecscope
#Vcs-Git: https://salsa.debian.org/debian/ecscope.git
Rules-Requires-Root: no

Package: ecscope
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: Oscilloscope-like application works with INA260 chips 
 <insert long description, indented with spaces>
