Package: ecscope
Version: 1.0.1
Architecture: armhf
Maintainer: Marian Minar <mminar7@gmail.com>
Installed-Size: 9347
Section: unknown
Priority: optional
Homepage: https://github.com/mamin27/eCscope
Description: Oscilloscope-like application works with INA260 chips
 <insert long description, indented with spaces>
